html
    head
        title Registro de Usuario
        link(rel='stylesheet' href="/css/bootstrap.css")
    body
        div.container.mt-5
            div.row
                div.col-md-6.offset-md-3
                    h2(text-center)=pagina